<div class="container"  style="padding: 30px 15px 0;" ng-init="getList()">
	<div id="content">

		<a class="btn btn-primary" href="#/clientes/novo">Adicionar Novo</a>
		<br>
		<br>
		<table class="table">
           <thead>
               <tr>
                    <th style="width: 5%;" class="text-left">Código</th>
                    <th style="width: 40%;" class="text-left">Nome</th>
                    <th style="width: 15%;" class="text-left">Cpf</th>
										<th style="width: 20%;" class="text-left">Telefone</th>
										<th style="width: 20%;" class="text-left">Email</th>
               </tr>
           </thead>
           <tbody>
               <tr ng-repeat="item in rows" style="cursor: pointer;" ng-click="edit(item.codigo)">
								 	 <td>{{item.codigo}}</td>
									 <td>{{item.nome}}</td>
                   <td>{{item.cpf}}</td>
									 <td>{{item.telefone}}</td>
									 <td>{{item.email}}</td>
               </tr>
           </tbody>
           <tfoot>
               <tr>
	                <td></td>
	                <td></td>
	                <td></td>
									<td></td>
									<td></td>
               </tr>
           </tfoot>
       </table>
	</div>
</div>
