<div class="container" style="padding: 30px 15px 0;" ng-init="getById()" >
	<div id="content">
		<ol class="breadcrumb">
			<li><a href="#/pedidos/">Pedidos</a></li>
			<li class="active">Novo</li>
		</ol>
	</div>
	<div class="row">

			<form name="form">

				<div class="col-md-12">
					<div class="form-group" style="width: 120px" ng-class="{ 'has-error': form.codigo.$invalid}">
						<label class="control-label" for="numero">Número</label>
						<input class="form-control" type="number" name="numero" id="numero" ng-model="row.numero" placeholder="Número" required="required" />
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group" style="width: 200px" ng-class="{ 'has-error': (form.dataEmissao.$invalid)}">
							<label class="control-label" for="dataEmissao">Data Emissão</label>
							<p class="input-group">
				              <input type="text" class="form-control" name="dataEmissao" uib-datepicker-popup="{{format}}" placeholder="Data Emissão" datepicker-options="dateOptions" ng-model="row.dataEmissao" is-open="opened" ng-required="true" close-text="Close" />
				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>

					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label" for="cliente">Cliente</label>
						<select2 id="cliente" model="row.cliente" placeholder="Informe um cliente" dataText="nome" url="/api/clientes/" width="400px" ></select2>
					</div>
				</div>


				<div class="col-md-12">

					<h4>Produtos</h4>
					<hr>

					<table class="table">
			       <thead>
				       <tr>
									<th style="width: 50%;" class="text-left">Produto</th>
									<th style="width: 10%;" class="text-left">Quantidade</th>
									<th style="width: 10%;" class="text-left">Valor Unit</th>
									<th style="width: 20%;" class="text-left">Total</th>
									<th style="width: 10%;" class="text-center"></th>
				       </tr>
			       </thead>
			       <tbody>
				       <tr ng:repeat="item in row.produtos" style="cursor: pointer;">

				           <td><select2 id="item1" model="item.produto" placeholder="Informe um produto" dataText="descricao" url="/api/products/" onSelect="onSelectItem($item, $model, $index)" ></select2></td>
				           <td><input class="form-control" type="number" name="quantidade" id="quantidade" ng-model="item.quantidade" placeholder="0"/></td>
				           <td><input class="form-control" type="text" name="vlrUnit" id="vlrUnit" ng-model="item.vlrUnit" placeholder="0"/></td>
				           <td>{{(item.quantidade * item.vlrUnit) | currency}}</td>
				           <td><span class="glyphicon glyphicon-remove" aria-hidden="true" style="cursor: pointer;" ng-click="removeItem($index)" ></span></td>
				       </tr>
			       </tbody>
			       <tfoot>
				       <tr>
				         <td>
			           	   <button id="btnNovoItem" type="button" class="btn btn-default" ng-click="novoItem()" >
					          	<span class="glyphicon glyphicon-plus"></span>&nbsp; Novo Item
						   			 </button>
							   </td>
							   <td></td>
							   <td><strong>Total Pedido:</strong></td>
							   <td><strong>{{total() | currency}}</strong></td>
								 <td></td>
				       </tr>
			       </tfoot>
			   </table>

		 	</div>




				<input class="btn btn-raf" type="submit" ng-disabled="form.$invalid" ng-click="save(row)" value="Salvar" />
				<a class="btn btn-default" href="#/pedidos/">Cancelar</a>
				<a class="btn btn-danger" ng-click="delete(row)" ng-show="row.id > 0">Exluir</a>
			</form>

	</div>
</div>
