<div class="container"  style="padding: 30px 15px 0;" ng-init="getList()">
	<div id="content">

		<a class="btn btn-primary" href="#/pedidos/novo">Adicionar Novo</a>
		<br>
		<br>
		<table class="table">
           <thead>
               <tr>
                    <th style="width: 10%;" class="text-left">Número</th>
                    <th style="width: 10%;" class="text-left">Data Emissão</th>
										<th style="width: 50%;" class="text-left">Cliente</th>
                    <th style="width: 30%;" class="text-left">Valor Total</th>
               </tr>
           </thead>
           <tbody>
               <tr ng-repeat="item in rows" style="cursor: pointer;" ng-click="edit(item.numero)">
								 	 <td>{{item.numero}}</td>
									 <td>{{item.dataEmissao | date:'dd/MM/yyyy'}}</td>
									 <td>{{item.cliente.nome}}</td>
                   <td>{{item.vlrTotal | number:2}}</td>
               </tr>
           </tbody>
           <tfoot>
               <tr>
                <td></td>
                <td></td>
                <td></td>
								<td></td>
               </tr>
           </tfoot>
       </table>
	</div>
</div>
