<div class="container"  style="padding: 30px 15px 0;" ng-init="getList()">
	<div id="content">

		<a class="btn btn-primary" href="#/produtos/novo">Adicionar Novo</a>
		<br>
		<br>
		<table class="table">
           <thead>
               <tr>
                    <th style="width: 10%;" class="text-left">Código</th>
                    <th style="width: 60%;" class="text-left">Descrição</th>
                    <th style="width: 30%;" class="text-left">Valor</th>
               </tr>
           </thead>
           <tbody>
               <tr ng-repeat="item in rows" style="cursor: pointer;"  ng-click="edit(item.codigo)">
								 	 <td>{{item.codigo}}</td>
									 <td>{{item.descricao}}</td>
                   <td>{{item.valor | number:2}}</td>
               </tr>
           </tbody>
           <tfoot>
               <tr>
                <td></td>
                <td></td>
                <td></td>
               </tr>
           </tfoot>
       </table>
	</div>
</div>
