<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>HelloAppEngine</servlet-name>
		<servlet-class>com.rafaoli.pedidos.HelloAppEngine</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloAppEngine</servlet-name>
		<url-pattern>/inicio</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Exemplo1Services</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.rafaoli.pedidos.services</param-value>
		</init-param>
		<init-param>
			<param-name>org.glassfish.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Exemplo1Services</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>



</web-app>
